@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


.container {
    max-width: 1400px;
    margin: 0 auto;
    /*border: 1px solid red;*/
}

body , button {
    font-family: "Inter", sans-serif;
}

.app-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}